.content__users
  &-pages
    & .selected
      font-weight: bold

  & .user:not(:last-child)
    margin-bottom: 25px

.user
  display: flex
  border: 1px solid gray

  &__left
    display: flex
    flex-direction: column

    &-avatar
      width: 100px
      height: 100px
      border-radius: 100%

  &__center
    display: flex
    flex-direction: column
    justify-content: space-between
    width: 100%

    &-name
      font-weight: bold

  &__right
    width: 200px

